body {
    font-family: "PT Sans Caption", sans-serif;
}
::-moz-selection { /* Code for Firefox */
    background:#fec260;
}
::selection {
    background:#fec260;
}

main {
    min-height: 100vh;
    background-color: #f7ecde;
}
main h1{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    position: relative;
    isolation: isolate;
    width: fit-content;
}
main h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #fec260;
    z-index: -1;
    bottom: 10px;
    left: 0;
    transition: height 350ms;
}
main h1:hover::after{
    height: 50%;
}
.bookmark-body{
        border-width: 2px 0 2px 0;
        border-style: dotted;
        border-color: #352e28;
    }
.bookmark-body h2{
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

.btn-sub{
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #bb4120;
    --bs-btn-active-border-color: #a03315;;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d1512d;
    --bs-btn-disabled-border-color: #d1512d;
}
.btn-success{
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;
}
thead{
    vertical-align: middle;
}
/*alert*/
div:where(.swal2-container) .swal2-html-container {
    padding: 20px 0;
}
.circles span{
    display: block;
    width: 20px;
    height: 20px;
}
.circles span:nth-child(1){
    background-color: #f15f5d;
}
.circles span:nth-child(2){
    background-color: #febe2e;
}
.circles span:nth-child(3){
    background-color: #4db748;
}
div:where(.swal2-container).swal2-center>.swal2-popup {
    position: relative;
}
div:where(.swal2-container) button:where(.swal2-close):focus {
    outline: 0;
    box-shadow: inset 0 0 0 0px rgba(100, 150, 200, .5) !important;
}
div:where(.swal2-container).swal2-center>.swal2-popup ol li,div:where(.swal2-container).swal2-center>.swal2-popup p{
    text-align: left;
}
div:where(.swal2-container).swal2-center>.swal2-popup p{
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    display: none !important;
}
div:where(.swal2-container).swal2-center>.swal2-popup .fa-regular {
        color: #bb4120;
    }




/* responsive */
@media (max-width: 576px) {
    main h1{
        font-size: 1.8rem;
    }

    .btn-sub {
        font-size: 1rem;
        padding: 10px 20px;
    }
    table thead tr th {
        font-size: 9px;
        font-weight: bold;
    }
    table tbody tr td,table tbody tr th{
        font-size: 12px;
    }
    table tbody tr td button{
        font-size: 12px !important;
    }
}
@media (max-width: 768px) {
    main h1{
        font-size: 2.2rem;
    }
}
